<div id="kube-component" class="content">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="submitButtonClick($event)">
    <fieldset>
      <legend>Asmenine informacija</legend>
      <!--PRASIDEDA LAIPSNIS-->
      <div class="form-item">
        <label>Mokslinis laipsnis</label>
        <select formControlName="educationalDegree" class="w50">
          <option value="Daktaras" >Daktaras</option>
          <option value="Profesorius">Profesorius</option>
          <option value="Be laipsnio">Be laipsnio</option>
        </select>
      </div>
      <!--BAIGIASI LAIPSNIS-->
      <!--PRASIDEDA VARDAS-->
      <div class="form-item">
        <label>Vardas<span class="hidden" [ngClass]="{'error display-inline': registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched}">
          Užpildykite teisingai lauką </span></label>
        <input type="text" name="firstName" class="w50" placeholder="Įveskite savo vardą.."
               formControlName="firstName" [ngClass]="{error: registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched}"  required>
      </div>
      <!--BAIGIASI VARDAS
      <!--PRASIDEDA PAVARDE-->
      <div class="form-item">
        <label>Pavardė<span class="hidden" [ngClass]="{'error display-inline': registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched}">
          Užpildykite teisingai lauką </span></label>
        <input type="text" name="lastName" class="w50" placeholder="Įveskite savo pavardę.."
               formControlName="lastName" [ngClass]="{error: registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched}" required>
      </div>
      <!--BAIGIASI PAVARDE-->
      <!--PRASIDEDA TELEFONO NUMERIS-->
      <div class="form-item">
        <label>Telefono numeris<span class="hidden" [ngClass]="{'error display-inline': (registerForm.get('phoneNumber').hasError('required') ||
        registerForm.get('phoneNumber').hasError('number'))
        && registerForm.get('phoneNumber').touched}">
          Užpildykite teisingai lauką </span></label>
        <input type="tel" name="phoneNumber" class="w50" placeholder="Įveskite savo telefono numerį.."
               formControlName="phoneNumber" [ngClass]="{error: (registerForm.get('phoneNumber').hasError('required') ||
               registerForm.get('phoneNumber').hasError('number'))
               && registerForm.get('phoneNumber').touched}" required>
      </div>
      <!--BAIGIASI TELEFONO NUMERIS-->
      <!--PRASIDEDA TELEFONO NUMERIS-->
      <div class="form-item">
        <label>Elektroninis pastas<span class="hidden" [ngClass]="{'error display-inline': (registerForm.get('email').hasError('required') ||
        registerForm.get('email').hasError('email'))
        && registerForm.get('email').touched}">
          Užpildykite teisingai lauką </span></label>
        <input type="email" name="email" class="w50" placeholder="Įveskite savo elektroninį paštą.."
               formControlName="email" [ngClass]="{error: (registerForm.get('email').hasError('required') ||
               registerForm.get('email').hasError('email'))
               && registerForm.get('email').touched}" required>
      </div>
      <!--BAIGIASI TELEFONO NUMERIS-->
      <!--PRASIDEDA INSTITUCIJA-->
      <div class="form-item">
        <label>Atstovaujama institucija<span class="hidden" [ngClass]="{'error display-inline': registerForm.get('institution').hasError('required')
        && registerForm.get('institution').touched}">
          Užpildykite teisingai lauką </span></label>
        <input type="text" name="institution" class="w50" placeholder="Įveskite atstovaujamą instituciją.."
               formControlName="institution" [ngClass]="{error: registerForm.get('institution').hasError('required') && registerForm.get('institution').touched}" required>
      </div>
      <!--BAIGIASI INSTITUCIJA-->
    </fieldset>


    <fieldset>
      <legend>Pranesimo informacija</legend>
      <!--PRASIDEDA PRANESIMO PAVADINIMAS-->
      <div class="form-item">
        <label>Pranesimo pavadinimas<span class="hidden" [ngClass]="{'error display-inline': registerForm.get('messageName').hasError('required')
        && registerForm.get('messageName').touched}">
          Užpildykite teisingai lauką </span></label>
        <input type="text" name="messageName" class="w50" placeholder="Įveskite savo projekto pavadinimą.."
               formControlName="messageName" [ngClass]="{error: registerForm.get('messageName').hasError('required') && registerForm.get('messageName').touched}" required>
      </div>
      <!--BAIGIASI PRANESIMO PAVADINIMAS-->
      <!--PRASIDEDA PRANESIMO AUTORIAI-->
      <div class="form-item">
        <label>Pranesimo autoriai<span class="hidden" [ngClass]="{'error display-inline': registerForm.get('messageAuthorsAndAffiliations').hasError('required')
        && registerForm.get('messageAuthorsAndAffiliations').touched}">
          Užpildykite teisingai lauką </span></label>
        <textarea  rows="6" name="messageAuthorsAndAffiliations" placeholder="Įveskite savo projekto autorius.."
                  formControlName="messageAuthorsAndAffiliations" [ngClass]="{error: registerForm.get('messageAuthorsAndAffiliations').hasError('required')
                  && registerForm.get('messageAuthorsAndAffiliations').touched}" required></textarea>
      </div>
      <!--BAIGIASI PRANESIMO AUTORIAI-->
      <!--PRASIDEDA PRANESIMO SANTRAUKA-->
      <div class="form-item">
        <label>Pranesimo santrauka<span class="hidden" [ngClass]="{'error display-inline': registerForm.get('messageSummary').hasError('required')
        && registerForm.get('messageSummary').touched}">
          Užpildykite teisingai lauką </span></label>
        <textarea rows="6" name="messageSummary" placeholder="Įveskite savo projekto santrauka.."
                  formControlName="messageSummary" [ngClass]="{error: registerForm.get('messageSummary').hasError('required')
                  && registerForm.get('messageSummary').touched}" required></textarea>

      </div>
      <!--BAIGIASI PRANESIMO SANTRAUKA-->
    </fieldset>


    <fieldset>
      <legend>Papildoma informacija</legend>

      <!--PRASIDEDA VIESBUCIO KLAUSIMAS-->
      <div class="form-item">
        <p>Ar reikalingas viesbucio kambarys?</p>
        <div class="form-item form-checkboxes">
          <label class="checkbox"><input type="radio" name="needsRoom" formControlName="needsRoom" value="Taip">Taip</label>
          <label class="checkbox"><input  type="radio" name="needsRoom" formControlName="needsRoom" value="Ne"
                                         [checked]="true">Ne</label>
        </div>
      </div>
      <div class="form-item extraHotel hidden">
        <label>Viesbucio tipas</label>
        <select formControlName="roomType" class="w50">
          <option value="" selected></option>
          <option value="Vienvietis">Vienvietis</option>
          <option value="Dvivietis">Dvivietis</option>
          <option value="Kitas">Kitas</option>
        </select>
      </div>
      <!--BAIGIASI PRANESIMO PAVADINIMAS-->

      <!--PRASIDEDA PAPILDOMO ASMENS KLAUSIMAS-->
      <div class="form-item">
        <p>Ar bus lydinciu zmoniu?</p>
        <div class="form-item form-checkboxes">

          <label class="checkbox"><input type="radio" name="hasEscort" formControlName="hasEscort" value="Taip">Taip</label>
          <label class="checkbox"><input type="radio" name="hasEscort" formControlName="hasEscort" value="Ne"
                                         [checked]="true">Ne</label>
        </div>
      </div>
      <div class="form-item extraPerson hidden">
        <label>Ar dalyvaus papildomuose renginiuose?</label>
        <select formControlName="escortWillParticipateInEvents" class="w50">
          <option value selected disabled>---</option>
          <option value="Taip">Taip</option>
          <option value="Ne">Ne</option>
        </select>
      </div>
      <!--BAIGIASI PAPILDOMO ASMENS KLAUSIMAS-->

      <!--PRASIDEDA PAPILDOMAS INSTITUCIJOS KLAUSIMAS-->
      <div class="form-item ">
        <p>Ar reikalinga išankstinė sąskaitos faktūra dalyvio mokesčiui apmokėti?</p>
        <div class="form-item form-checkboxes">
          <label class="checkbox"><input type="radio" name="needsBill" formControlName="needsBill"
                                         value="Taip">Taip</label>
          <label class="checkbox"><input type="radio" name="needsBill" formControlName="needsBill"
                                         value="Ne" [checked]="true">Ne</label>
        </div>
      </div>
      <div class="form-item extraPayForPerson hidden">
        <label>Institucijos pavadinimas</label>
        <input type="text" name="billInstitution" class="w50"
               formControlName="billInstitution">
      </div>
      <!--BAIGIASI
      </div> PAPILDOMAS INSTITUCIJOS KLAUSIMAS-->
    </fieldset>

    <!--REGISTRACIJOS MYGTUKAS-->
    <div class="form-item form-buttons">
      <button type="submit" [disabled]="registerForm.invalid">Registruotis</button>
      <button class="button secondary outline">Cancel</button>
    </div>

  </form>
</div>


